body{
    background: #E9ECEF;
}
.text-white:hover{
 background-color:black;
}
.baslik{
    text-align: center;
    margin-top: 50px;
}
p{
    font-family: 'Exo 2', sans-serif;
    text-align:justify;
}
.buton{
    text-decoration: none;
}
.bold{
    font-weight: bold;
}
