.header {
  list-style-type: none;
  margin: 10px;
  overflow: hidden;
  margin-right: 16px;
  font-family: arial,sans-serif;
  font-size: 13px;
}

.headerli a {
  display: block;
  color: black;
  text-align: right;
  float:right;
  padding: 8px 8px;
  text-decoration: none;
}
.headerli1 a {
  display: block;
  color: black;
  text-align: left;
  float:left;
  padding: 0 8px;
  text-decoration: none;
}
.pic {
  border-radius: 15px;
}

.headerli a:hover {
  text-decoration: underline;
}
.headerli1 a:hover {
  text-decoration: underline;
}

.container {
  text-align: center;
  margin: 100px;
}

.search-area {
  background: #fff;
  display: flex;
  z-index: 3;
  height: 44px;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  margin-top: -77px;
  width: 580px;
}

.search-area:hover {
box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

.search {
  flex: 1;
  display: flex;
  height: 44px;
  box-shadow: none;
  padding: 5px 8px 0 14px;
  padding-left: 14px;
}

.search-img {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.search-img span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  margin-top: 0px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
}

.input-enter {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.input-area {
  color: transparent;
  flex: 100%;
  white-space: pre;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  display: block;
}
.Umvnrc{
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0;
    width: 24px;
    line-height: 44px;
}
.ly0Ckb {
  margin-bottom: 15px;
  height: 24px;
  width: 24px;
  vertical-align: middle;
}



.input {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  border:none;
  flex: 100%;
  margin-top: -68px;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  width: 480px;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: textfield;
  
}
center {
  display: block;
  text-align: -webkit-center;
}


.googlesearch {
  margin: 11px 4px;
  margin-top: 20px;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-color: #f2f2f2;
  border: 1px solid #dfe1e5;
  font-family: Arial, Helvetica, sans-serif;
  color: #5f6368;
  font-size: 14px;
  height: 36px;
}
.googlesearch:hover{
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

.feelinglucky {
  margin-left: 20px;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-color: #f2f2f2;
  border: 1px solid #dfe1e5;
  font-family: Arial, Helvetica, sans-serif;
  color: #5f6368;
  font-size: 14px;
  height: 36px;
}
.feelinglucky:hover{
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

.footer {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #dfe1e5;
  border-top: 1px solid #dadce0;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -8px;
  line-height: 10px;
}

.footerli {
  float: left;
  list-style-type: none;
}

.footerli a {
  display: block;
  color: #70757a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin-left: 14px;
  margin-right: -20px;
}

.footerli a:hover {
  text-decoration: underline;
}
